@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  ::-webkit-scrollbar {
    width: 0.25rem;
    height: .25rem;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background: #FE9016;
    border-radius: 1rem;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
